<!doctype HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Layouts: Faroese (fo)</title>
<link rel="stylesheet" type="text/css"
	href="https://www.unicode.org/webscripts/standard_styles.css">
<link rel="stylesheet" type="text/css" href="index.css">

</head>

<body>
	<table width="100%" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td colspan="2">
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td class="icon"><a href="http://www.unicode.org/"> <img
								border="0" src="http://www.unicode.org/webscripts/logo60s2.gif"
								align="middle" alt="[Unicode]" width="34" height="33"></a>&nbsp;&nbsp;
							<a class="bar"
							href="http://www.unicode.org/cldr/comparison_charts.html"><font
								size="3">CLDR Charts</font></a></td>
						<td class="bar"><a href="http://www.unicode.org" class="bar">Home</a>
							| <a href="http://www.unicode.org/sitemap/" class="bar">Site
								Map</a> | <a href="http://www.unicode.org/search/" class="bar">Search</a></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="2" class="gray">&nbsp;</td>
		</tr>
	</table>
	<div class="body">
		<div align="center">
			<table style="width:100%">
				<tr>
					<td style="text-align: left" nowrap width="25%"><iframe scrolling="no" class="versionDate" src="include-version.html"></iframe></td>
					<td style="text-align: center" nowrap width="50%"><h1 align="center">Layouts: Faroese (fo)</h1></td>
					<td style="text-align: right" nowrap width="25%"><iframe scrolling="no" class="versionDate" src="include-date.html"></iframe></td>
				</tr>
				<tr><td style="text-align: center" colSpan="3"><a class="upLink" href="index.html">Index</a></td></tr>
			</table>
		</div>
<!-- 
		<div align="center">
			<table style="margin: 1em">
				<tr>
					<td align="left" nowrap width="20%">CLDR Version <span class='version'>38.0β</span></td>
					<td style="text-align: center" nowrap width="50%"><b><font
							size="4"> <a href="index.html">Index</a></font></b></td>
					<td style="text-align: right" nowrap width="20%"></td>
				</tr>
			</table>
		</div>
		 -->
<p>For more information, see <a target='ABOUT_KB' href='http://cldr.unicode.org/index/charts/keyboards'>About Keyboard Charts</a>.</p>
<h2><a name='fo-FO-t-k0-linux' href='#fo-FO-t-k0-linux'>fo-FO-t-k0-linux</a> [Faroese, fo]</h2>
<table class='keyboards'><tr>
<td class='keyboardTD'><table class='keyboard'>
<tr>
<td class='m'>½</td>
<td class='m'>1</td>
<td class='m'>2</td>
<td class='m'>3</td>
<td class='m'>4</td>
<td class='m'>5</td>
<td class='m'>6</td>
<td class='m'>7</td>
<td class='m'>8</td>
<td class='m'>9</td>
<td class='m'>0</td>
<td class='m'>+</td>
<td class='h' title=' →'; ́→´; A→Á; E→É; I→Í; J→J; O→Ó; U→Ú; Y→Ý; a→á; e→é; i→í; j→j; o→ó; u→ú; y→ý; C→Ć; c→ć; L→Ĺ; l→ĺ; N→Ń; n→ń; R→Ŕ; r→ŕ; S→Ś; s→ś; Z→Ź; z→ź; ̈U→Ǘ; ̈u→ǘ; G→Ǵ; g→ǵ; Å→Ǻ; å→ǻ; Æ→Ǽ; æ→ǽ; ø→ǿ; ̈ →΅; Ω→Ώ; ̧C→Ḉ; ̧c→ḉ; ̈I→Ḯ; ̈i→ḯ; K→Ḱ; k→ḱ; M→Ḿ; m→ḿ; ̃O→Ṍ; ̃o→ṍ; P→Ṕ; p→ṕ; ̃U→Ṹ; ̃u→ṹ; W→Ẃ; w→ẃ; ̂A→Ấ; ̂a→ấ; ̂E→Ế; ̂e→ế; ̂O→Ố; ̂o→ố; ̛O→Ớ; ̛o→ớ; ̛U→Ứ; ̛u→ứ; V→Ǘ; v→ǘ;  →́; ̇S→Ṥ; ̇s→ṥ; ̃a→a; ̃A→A; ̃e→e; ̃E→E; ̃i→i; ̃I→I; ŋ→ŋ; Ŋ→Ŋ'>́</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>q</td>
<td class='m'>w</td>
<td class='m'>e</td>
<td class='m'>r</td>
<td class='m'>t</td>
<td class='m'>y</td>
<td class='m'>u</td>
<td class='m'>i</td>
<td class='m'>o</td>
<td class='m'>p</td>
<td class='m'>å</td>
<td class='m'>ð</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>a</td>
<td class='m'>s</td>
<td class='m'>d</td>
<td class='m'>f</td>
<td class='m'>g</td>
<td class='m'>h</td>
<td class='m'>j</td>
<td class='m'>k</td>
<td class='m'>l</td>
<td class='m'>æ</td>
<td class='m'>ø</td>
<td class='m'>'</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='m'>&lt;</td>
<td class='m'>z</td>
<td class='m'>x</td>
<td class='m'>c</td>
<td class='m'>v</td>
<td class='m'>b</td>
<td class='m'>n</td>
<td class='m'>m</td>
<td class='m'>,</td>
<td class='m'>.</td>
<td class='m'>-</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='m'> </td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
</table><span class='modifiers'> </span></td>
<td class='keyboardTD'><table class='keyboard'>
<tr>
<td class='m'>§</td>
<td class='m'>!</td>
<td class='m'>'</td>
<td class='m'>#</td>
<td class='m'>¤</td>
<td class='m'>%</td>
<td class='m'>&amp;</td>
<td class='m'>/</td>
<td class='m'>(</td>
<td class='m'>)</td>
<td class='m'>=</td>
<td class='m'>?</td>
<td class='h' title=' →`; ̀→`; A→À; E→È; I→Ì; O→Ò; U→Ù; a→à; e→è; i→ì; o→ò; u→ù; ̈U→Ǜ; ̈u→ǜ; N→Ǹ; n→ǹ; W→Ẁ; w→ẁ; ̂A→Ầ; ̂a→ầ; ̂E→Ề; ̂e→ề; ̂O→Ồ; ̂o→ồ; ̛O→Ờ; ̛o→ờ; ̛U→Ừ; ̛u→ừ; Y→Ỳ; y→ỳ; Ω→Ὼ; V→Ǜ; v→ǜ;  →̀; ̃a→a; ̃A→A; ̃e→e; ̃E→E; ̃i→i; ̃I→I; ̃o→o; ̃O→O; ̃u→u; ̃U→U; m→m; M→M; ŋ→ŋ; Ŋ→Ŋ'>̀</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>Q</td>
<td class='m'>W</td>
<td class='m'>E</td>
<td class='m'>R</td>
<td class='m'>T</td>
<td class='m'>Y</td>
<td class='m'>U</td>
<td class='m'>I</td>
<td class='m'>O</td>
<td class='m'>P</td>
<td class='m'>Å</td>
<td class='m'>Ð</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>A</td>
<td class='m'>S</td>
<td class='m'>D</td>
<td class='m'>F</td>
<td class='m'>G</td>
<td class='m'>H</td>
<td class='m'>J</td>
<td class='m'>K</td>
<td class='m'>L</td>
<td class='m'>Æ</td>
<td class='m'>Ø</td>
<td class='m'>*</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='m'>&gt;</td>
<td class='m'>Z</td>
<td class='m'>X</td>
<td class='m'>C</td>
<td class='m'>V</td>
<td class='m'>B</td>
<td class='m'>N</td>
<td class='m'>M</td>
<td class='m'>;</td>
<td class='m'>:</td>
<td class='m'>_</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='m'> </td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
</table><span class='modifiers'>shift</span></td>
<td class='keyboardTD'><table class='keyboard'>
<tr>
<td class='m'>¾</td>
<td class='m'>¡</td>
<td class='m'>@</td>
<td class='m'>£</td>
<td class='m'>$</td>
<td class='m'>½</td>
<td class='m'>¥</td>
<td class='m'>{</td>
<td class='m'>[</td>
<td class='m'>]</td>
<td class='m'>}</td>
<td class='m'>±</td>
<td class='m'>|</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>@</td>
<td class='m'>ł</td>
<td class='m'>€</td>
<td class='m'>®</td>
<td class='m'>þ</td>
<td class='m'>←</td>
<td class='m'>↓</td>
<td class='m'>→</td>
<td class='m'>œ</td>
<td class='m'>þ</td>
<td class='h' title='̈→¨;  →'; A→Ä; E→Ë; I→Ï; O→Ö; U→Ü; a→ä; e→ë; i→ï; o→ö; u→ü; y→ÿ; Y→Ÿ; '→̈́; ́ →΅; H→Ḧ; h→ḧ; ̃O→Ṏ; ̃o→ṏ; W→Ẅ; w→ẅ; X→Ẍ; x→ẍ; t→ẗ;  →̈; ́I→Ḯ; ́i→ḯ; ́U→Ǘ; ́u→ǘ; ̌U→Ǚ; ̌u→ǚ; ̀U→Ǜ; ̀u→ǜ'>̈</td>
<td class='h' title=' →~; ̃→~; A→Ã; N→Ñ; O→Õ; a→ã; n→ñ; o→õ; I→Ĩ; i→ĩ; U→Ũ; u→ũ; V→Ṽ; v→ṽ; ̂A→Ẫ; ̂a→ẫ; E→Ẽ; e→ẽ; ̂E→Ễ; ̂e→ễ; ̂O→Ỗ; ̂o→ỗ; ̛O→Ỡ; ̛o→ỡ; ̛U→Ữ; ̛u→ữ; Y→Ỹ; y→ỹ; =→≃; &lt;→≲; &gt;→≳;  →̃; ́O→Ṍ; ́o→ṍ; ́U→Ṹ; ́u→ṹ; ̈O→Ṏ; ̈o→ṏ'>̃</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>ª</td>
<td class='m'>ß</td>
<td class='m'>ð</td>
<td class='m'>đ</td>
<td class='m'>ŋ</td>
<td class='m'>ħ</td>
<td class='h' title='A→Ả; a→ả; ̂A→Ẩ; ̂a→ẩ; E→Ẻ; e→ẻ; ̂E→Ể; ̂e→ể; I→Ỉ; i→ỉ; O→Ỏ; o→ỏ; ̂O→Ổ; ̂o→ổ; ̛O→Ở; ̛o→ở; U→Ủ; u→ủ; ̛U→Ử; ̛u→ử; Y→Ỷ; y→ỷ; B→Ɓ; b→ɓ; C→Ƈ; c→ƈ; D→Ɗ; d→ɗ; F→Ƒ; f→ƒ; G→Ɠ; g→ɠ; h→ɦ; K→Ƙ; k→ƙ; M→Ɱ; m→ɱ; N→Ɲ; n→ɲ; P→Ƥ; p→ƥ; q→ʠ; r→ɼ; s→ʂ; T→Ƭ; t→ƭ; V→Ʋ; v→ʋ; W→Ⱳ; w→ⱳ; Z→Ȥ; z→ȥ; ̉→̉;  →̉;  →̉'>̉</td>
<td class='m'>ĸ</td>
<td class='m'>ł</td>
<td class='h' title=' →'; ́→´; A→Á; E→É; I→Í; J→J; O→Ó; U→Ú; Y→Ý; a→á; e→é; i→í; j→j; o→ó; u→ú; y→ý; C→Ć; c→ć; L→Ĺ; l→ĺ; N→Ń; n→ń; R→Ŕ; r→ŕ; S→Ś; s→ś; Z→Ź; z→ź; ̈U→Ǘ; ̈u→ǘ; G→Ǵ; g→ǵ; Å→Ǻ; å→ǻ; Æ→Ǽ; æ→ǽ; ø→ǿ; ̈ →΅; Ω→Ώ; ̧C→Ḉ; ̧c→ḉ; ̈I→Ḯ; ̈i→ḯ; K→Ḱ; k→ḱ; M→Ḿ; m→ḿ; ̃O→Ṍ; ̃o→ṍ; P→Ṕ; p→ṕ; ̃U→Ṹ; ̃u→ṹ; W→Ẃ; w→ẃ; ̂A→Ấ; ̂a→ấ; ̂E→Ế; ̂e→ế; ̂O→Ố; ̂o→ố; ̛O→Ớ; ̛o→ớ; ̛U→Ứ; ̛u→ứ; V→Ǘ; v→ǘ;  →́; ̇S→Ṥ; ̇s→ṥ; ̃a→a; ̃A→A; ̃e→e; ̃E→E; ̃i→i; ̃I→I; ŋ→ŋ; Ŋ→Ŋ'>́</td>
<td class='h' title=' →^; ̂→^; 2→²; 3→³; 1→¹; A→Â; E→Ê; I→Î; O→Ô; U→Û; a→â; e→ê; i→î; o→ô; u→û; C→Ĉ; c→ĉ; G→Ĝ; g→ĝ; H→Ĥ; h→ĥ; J→Ĵ; j→ĵ; S→Ŝ; s→ŝ; W→Ŵ; w→ŵ; Y→Ŷ; y→ŷ; Z→Ẑ; z→ẑ; 0→⁰; 4→⁴; 5→⁵; 6→⁶; 7→⁷; 8→⁸; 9→⁹; +→⁺; -→⁻; =→⁼; (→⁽; )→⁾;  →̂; ́A→Ấ; ́a→ấ; ́E→Ế; ́e→ế; ́O→Ố; ́o→ố; ̀A→Ầ; ̀a→ầ; ̀E→Ề; ̀e→ề; ̀O→Ồ; ̀o→ồ; ̉A→Ẩ; ̉a→ẩ; ̉E→Ể; ̉e→ể; ̉O→Ổ; ̉o→ổ; ̃A→Ẫ; ̃a→ẫ; ̃E→Ễ; ̃e→ễ; ̃O→Ỗ; ̃o→ỗ'>̂</td>
<td class='h' title=' →˝; ̋→˝; O→Ő; o→ő; U→Ű; u→ű;  →̋'>̋</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='m'>\</td>
<td class='m'>«</td>
<td class='m'>»</td>
<td class='m'>©</td>
<td class='m'>“</td>
<td class='m'>”</td>
<td class='m'>n</td>
<td class='m'>µ</td>
<td class='h' title=' →¸; ̧→¸; C→Ç; c→ç; G→Ģ; g→ģ; K→Ķ; k→ķ; L→Ļ; l→ļ; N→Ņ; n→ņ; R→Ŗ; r→ŗ; S→Ş; s→ş; T→Ţ; t→ţ; E→Ȩ; e→ȩ; D→Ḑ; d→ḑ; H→Ḩ; h→ḩ; ¢→₵;  →̧; ́C→Ḉ; ́c→ḉ'>̧</td>
<td class='m'>·</td>
<td class='m'><span class="cc">shy</span></td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='m'><span class="cc">nbsp</span></td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
</table><span class='modifiers'>altR</span></td>
<td class='keyboardTD'><table class='keyboard'>
<tr>
<td class='m'>¶</td>
<td class='m'>¹</td>
<td class='m'>²</td>
<td class='m'>³</td>
<td class='m'>¼</td>
<td class='m'>¢</td>
<td class='m'>⅝</td>
<td class='m'>÷</td>
<td class='m'>«</td>
<td class='m'>»</td>
<td class='m'>°</td>
<td class='m'>¿</td>
<td class='m'>¦</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>Ω</td>
<td class='m'>Ł</td>
<td class='m'>¢</td>
<td class='m'>®</td>
<td class='m'>Þ</td>
<td class='m'>¥</td>
<td class='m'>↑</td>
<td class='m'>ı</td>
<td class='m'>Œ</td>
<td class='m'>Þ</td>
<td class='h' title=' →^; ̂→^; 2→²; 3→³; 1→¹; A→Â; E→Ê; I→Î; O→Ô; U→Û; a→â; e→ê; i→î; o→ô; u→û; C→Ĉ; c→ĉ; G→Ĝ; g→ĝ; H→Ĥ; h→ĥ; J→Ĵ; j→ĵ; S→Ŝ; s→ŝ; W→Ŵ; w→ŵ; Y→Ŷ; y→ŷ; Z→Ẑ; z→ẑ; 0→⁰; 4→⁴; 5→⁵; 6→⁶; 7→⁷; 8→⁸; 9→⁹; +→⁺; -→⁻; =→⁼; (→⁽; )→⁾;  →̂; ́A→Ấ; ́a→ấ; ́E→Ế; ́e→ế; ́O→Ố; ́o→ố; ̀A→Ầ; ̀a→ầ; ̀E→Ề; ̀e→ề; ̀O→Ồ; ̀o→ồ; ̉A→Ẩ; ̉a→ẩ; ̉E→Ể; ̉e→ể; ̉O→Ổ; ̉o→ổ; ̃A→Ẫ; ̃a→ẫ; ̃E→Ễ; ̃e→ễ; ̃O→Ỗ; ̃o→ỗ'>̂</td>
<td class='h' title=' →ˇ; ̌→ˇ; C→Č; c→č; D→Ď; d→ď; E→Ě; e→ě; L→Ľ; l→ľ; N→Ň; n→ň; R→Ř; r→ř; S→Š; s→š; T→Ť; t→ť; Z→Ž; z→ž; A→Ǎ; a→ǎ; I→Ǐ; i→ǐ; O→Ǒ; o→ǒ; U→Ǔ; u→ǔ; ̈U→Ǚ; ̈u→ǚ; G→Ǧ; g→ǧ; K→Ǩ; k→ǩ; j→ǰ; H→Ȟ; h→ȟ; (→₍; )→₎; +→₊; -→₋; 0→₀; 1→₁; 2→₂; 3→₃; 4→₄; 5→₅; 6→₆; 7→₇; 8→₈; 9→₉; =→₌; V→Ǚ; v→ǚ;  →̌; ̇S→Ṧ; ̇s→ṧ'>̌</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>º</td>
<td class='m'>§</td>
<td class='m'>Ð</td>
<td class='m'>ª</td>
<td class='m'>Ŋ</td>
<td class='m'>Ħ</td>
<td class='h' title='O→Ơ; o→ơ; U→Ư; u→ư; ̛→̛;  →̛;  →̛; ́O→Ớ; ́o→ớ; ́U→Ứ; ́u→ứ; ̀O→Ờ; ̀o→ờ; ̀U→Ừ; ̀u→ừ; ̉O→Ở; ̉o→ở; ̉U→Ử; ̉u→ử; ̃O→Ỡ; ̃o→ỡ; ̃U→Ữ; ̃u→ữ'>̛</td>
<td class='m'>&amp;</td>
<td class='m'>Ł</td>
<td class='h' title=' →˝; ̋→˝; O→Ő; o→ő; U→Ű; u→ű;  →̋'>̋</td>
<td class='h' title=' →ˇ; ̌→ˇ; C→Č; c→č; D→Ď; d→ď; E→Ě; e→ě; L→Ľ; l→ľ; N→Ň; n→ň; R→Ř; r→ř; S→Š; s→š; T→Ť; t→ť; Z→Ž; z→ž; A→Ǎ; a→ǎ; I→Ǐ; i→ǐ; O→Ǒ; o→ǒ; U→Ǔ; u→ǔ; ̈U→Ǚ; ̈u→ǚ; G→Ǧ; g→ǧ; K→Ǩ; k→ǩ; j→ǰ; H→Ȟ; h→ȟ; (→₍; )→₎; +→₊; -→₋; 0→₀; 1→₁; 2→₂; 3→₃; 4→₄; 5→₅; 6→₆; 7→₇; 8→₈; 9→₉; =→₌; V→Ǚ; v→ǚ;  →̌; ̇S→Ṧ; ̇s→ṧ'>̌</td>
<td class='m'>×</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='m'>¬</td>
<td class='m'>&lt;</td>
<td class='m'>&gt;</td>
<td class='m'>©</td>
<td class='m'>‘</td>
<td class='m'>’</td>
<td class='m'>N</td>
<td class='m'>º</td>
<td class='h' title=' →˛; ̨→˛; A→Ą; a→ą; E→Ę; e→ę; I→Į; i→į; U→Ų; u→ų; O→Ǫ; o→ǫ;  →̨'>̨</td>
<td class='h' title=' →˙; ̇→˙; C→Ċ; c→ċ; E→Ė; e→ė; G→Ġ; g→ġ; I→İ; i→ı; Z→Ż; z→ż; A→Ȧ; a→ȧ; O→Ȯ; o→ȯ; B→Ḃ; b→ḃ; D→Ḋ; d→ḋ; F→Ḟ; f→ḟ; H→Ḣ; h→ḣ; M→Ṁ; m→ṁ; N→Ṅ; n→ṅ; P→Ṗ; p→ṗ; R→Ṙ; r→ṙ; S→Ṡ; s→ṡ; ́S→Ṥ; ́s→ṥ; ̌S→Ṧ; ̌s→ṧ; T→Ṫ; t→ṫ; W→Ẇ; w→ẇ; X→Ẋ; x→ẋ; Y→Ẏ; y→ẏ; j→ȷ; L→Ŀ; l→ŀ;  →̇'>̇</td>
<td class='m'>¯</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='m'><span class="cc">nbsp</span></td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
</table><span class='modifiers'>altR+shift</span></td>
</tr></table>
<h2><a name='fo-FO-t-k0-linux-54b9a9e5' href='#fo-FO-t-k0-linux-54b9a9e5'>fo-FO-t-k0-linux-54b9a9e5</a> [Faroese (no dead keys), fo(nodeadkeys)]</h2>
<table class='keyboards'><tr>
<td class='keyboardTD'><table class='keyboard'>
<tr>
<td class='m'>½</td>
<td class='m'>1</td>
<td class='m'>2</td>
<td class='m'>3</td>
<td class='m'>4</td>
<td class='m'>5</td>
<td class='m'>6</td>
<td class='m'>7</td>
<td class='m'>8</td>
<td class='m'>9</td>
<td class='m'>0</td>
<td class='m'>+</td>
<td class='m'>´</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>q</td>
<td class='m'>w</td>
<td class='m'>e</td>
<td class='m'>r</td>
<td class='m'>t</td>
<td class='m'>y</td>
<td class='m'>u</td>
<td class='m'>i</td>
<td class='m'>o</td>
<td class='m'>p</td>
<td class='m'>å</td>
<td class='m'>¨</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>a</td>
<td class='m'>s</td>
<td class='m'>d</td>
<td class='m'>f</td>
<td class='m'>g</td>
<td class='m'>h</td>
<td class='m'>j</td>
<td class='m'>k</td>
<td class='m'>l</td>
<td class='m'>æ</td>
<td class='m'>ø</td>
<td class='m'>'</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='m'>&lt;</td>
<td class='m'>z</td>
<td class='m'>x</td>
<td class='m'>c</td>
<td class='m'>v</td>
<td class='m'>b</td>
<td class='m'>n</td>
<td class='m'>m</td>
<td class='m'>,</td>
<td class='m'>.</td>
<td class='m'>-</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='m'> </td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
</table><span class='modifiers'> </span></td>
<td class='keyboardTD'><table class='keyboard'>
<tr>
<td class='m'>§</td>
<td class='m'>!</td>
<td class='m'>'</td>
<td class='m'>#</td>
<td class='m'>¤</td>
<td class='m'>%</td>
<td class='m'>&amp;</td>
<td class='m'>/</td>
<td class='m'>(</td>
<td class='m'>)</td>
<td class='m'>=</td>
<td class='m'>?</td>
<td class='m'>`</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>Q</td>
<td class='m'>W</td>
<td class='m'>E</td>
<td class='m'>R</td>
<td class='m'>T</td>
<td class='m'>Y</td>
<td class='m'>U</td>
<td class='m'>I</td>
<td class='m'>O</td>
<td class='m'>P</td>
<td class='m'>Å</td>
<td class='m'>^</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>A</td>
<td class='m'>S</td>
<td class='m'>D</td>
<td class='m'>F</td>
<td class='m'>G</td>
<td class='m'>H</td>
<td class='m'>J</td>
<td class='m'>K</td>
<td class='m'>L</td>
<td class='m'>Æ</td>
<td class='m'>Ø</td>
<td class='m'>*</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='m'>&gt;</td>
<td class='m'>Z</td>
<td class='m'>X</td>
<td class='m'>C</td>
<td class='m'>V</td>
<td class='m'>B</td>
<td class='m'>N</td>
<td class='m'>M</td>
<td class='m'>;</td>
<td class='m'>:</td>
<td class='m'>_</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='m'> </td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
</table><span class='modifiers'>shift</span></td>
<td class='keyboardTD'><table class='keyboard'>
<tr>
<td class='m'>¾</td>
<td class='m'>¡</td>
<td class='m'>@</td>
<td class='m'>£</td>
<td class='m'>$</td>
<td class='m'>½</td>
<td class='m'>¥</td>
<td class='m'>{</td>
<td class='m'>[</td>
<td class='m'>]</td>
<td class='m'>}</td>
<td class='m'>±</td>
<td class='m'>|</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>@</td>
<td class='m'>ł</td>
<td class='m'>€</td>
<td class='m'>®</td>
<td class='m'>þ</td>
<td class='m'>←</td>
<td class='m'>↓</td>
<td class='m'>→</td>
<td class='m'>œ</td>
<td class='m'>þ</td>
<td class='m'>¨</td>
<td class='m'>~</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>ª</td>
<td class='m'>ß</td>
<td class='m'>ð</td>
<td class='m'>đ</td>
<td class='m'>ŋ</td>
<td class='m'>ħ</td>
<td class='h' title='A→Ả; a→ả; E→Ẻ; e→ẻ; I→Ỉ; i→ỉ; O→Ỏ; o→ỏ; ̛O→Ở; ̛o→ở; U→Ủ; u→ủ; ̛U→Ử; ̛u→ử; Y→Ỷ; y→ỷ; B→Ɓ; b→ɓ; C→Ƈ; c→ƈ; D→Ɗ; d→ɗ; F→Ƒ; f→ƒ; G→Ɠ; g→ɠ; h→ɦ; K→Ƙ; k→ƙ; M→Ɱ; m→ɱ; N→Ɲ; n→ɲ; P→Ƥ; p→ƥ; q→ʠ; r→ɼ; s→ʂ; T→Ƭ; t→ƭ; V→Ʋ; v→ʋ; W→Ⱳ; w→ⱳ; Z→Ȥ; z→ȥ; ̉→̉;  →̉;  →̉'>̉</td>
<td class='m'>ĸ</td>
<td class='m'>ł</td>
<td class='m'>´</td>
<td class='m'>^</td>
<td class='m'>˝</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='m'>\</td>
<td class='m'>«</td>
<td class='m'>»</td>
<td class='m'>©</td>
<td class='m'>“</td>
<td class='m'>”</td>
<td class='m'>n</td>
<td class='m'>µ</td>
<td class='m'>¸</td>
<td class='m'>·</td>
<td class='m'><span class="cc">shy</span></td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='m'><span class="cc">nbsp</span></td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
</table><span class='modifiers'>altR</span></td>
<td class='keyboardTD'><table class='keyboard'>
<tr>
<td class='m'>¶</td>
<td class='m'>¹</td>
<td class='m'>²</td>
<td class='m'>³</td>
<td class='m'>¼</td>
<td class='m'>¢</td>
<td class='m'>⅝</td>
<td class='m'>÷</td>
<td class='m'>«</td>
<td class='m'>»</td>
<td class='m'>°</td>
<td class='m'>¿</td>
<td class='m'>˛</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>Ω</td>
<td class='m'>Ł</td>
<td class='m'>¢</td>
<td class='m'>®</td>
<td class='m'>Þ</td>
<td class='m'>¥</td>
<td class='m'>↑</td>
<td class='m'>ı</td>
<td class='m'>Œ</td>
<td class='m'>Þ</td>
<td class='m'>°</td>
<td class='m'>¯</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>º</td>
<td class='m'>§</td>
<td class='m'>Ð</td>
<td class='m'>ª</td>
<td class='m'>Ŋ</td>
<td class='m'>Ħ</td>
<td class='h' title='O→Ơ; o→ơ; U→Ư; u→ư; ̛→̛;  →̛;  →̛; ̉O→Ở; ̉o→ở; ̉U→Ử; ̉u→ử'>̛</td>
<td class='m'>&amp;</td>
<td class='m'>Ł</td>
<td class='m'>˝</td>
<td class='m'>ˇ</td>
<td class='m'>×</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='m'>¬</td>
<td class='m'>&lt;</td>
<td class='m'>&gt;</td>
<td class='m'>©</td>
<td class='m'>‘</td>
<td class='m'>’</td>
<td class='m'>N</td>
<td class='m'>º</td>
<td class='m'>˛</td>
<td class='m'>˙</td>
<td class='m'>¯</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='m'><span class="cc">nbsp</span></td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
</table><span class='modifiers'>altR+shift</span></td>
</tr></table>
<h2><a name='fo-t-k0-osx' href='#fo-t-k0-osx'>fo-t-k0-osx</a> [Faroese]</h2>
<table class='keyboards'><tr>
<td class='keyboardTD'><table class='keyboard'>
<tr>
<td class='m'>&lt;</td>
<td class='m'>1</td>
<td class='m'>2</td>
<td class='m'>3</td>
<td class='m'>4</td>
<td class='m'>5</td>
<td class='m'>6</td>
<td class='m'>7</td>
<td class='m'>8</td>
<td class='m'>9</td>
<td class='m'>0</td>
<td class='m'>+</td>
<td class='h' title=' →´; a→á; A→Á; e→é; E→É; i→í; I→Í; o→ó; O→Ó; u→ú; U→Ú; y→ý; Y→Ý'>´</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>q</td>
<td class='m'>w</td>
<td class='m'>e</td>
<td class='m'>r</td>
<td class='m'>t</td>
<td class='m'>y</td>
<td class='m'>u</td>
<td class='m'>i</td>
<td class='m'>o</td>
<td class='m'>p</td>
<td class='m'>å</td>
<td class='m'>ð</td>
<td class='m'>'</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>a</td>
<td class='m'>s</td>
<td class='m'>d</td>
<td class='m'>f</td>
<td class='m'>g</td>
<td class='m'>h</td>
<td class='m'>j</td>
<td class='m'>k</td>
<td class='m'>l</td>
<td class='m'>æ</td>
<td class='m'>ø</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='m'>$</td>
<td class='m'>z</td>
<td class='m'>x</td>
<td class='m'>c</td>
<td class='m'>v</td>
<td class='m'>b</td>
<td class='m'>n</td>
<td class='m'>m</td>
<td class='m'>,</td>
<td class='m'>.</td>
<td class='m'>-</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='m'> </td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
</table><span class='modifiers'> </span></td>
<td class='keyboardTD'><table class='keyboard'>
<tr>
<td class='m'>&gt;</td>
<td class='m'>!</td>
<td class='m'>&quot;</td>
<td class='m'>#</td>
<td class='m'>€</td>
<td class='m'>%</td>
<td class='m'>&amp;</td>
<td class='m'>/</td>
<td class='m'>(</td>
<td class='m'>)</td>
<td class='m'>=</td>
<td class='m'>?</td>
<td class='h' title=' →`; a→à; A→À; e→è; E→È; i→ì; I→Ì; o→ò; O→Ò; u→ù; U→Ù'>`</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>Q</td>
<td class='m'>W</td>
<td class='m'>E</td>
<td class='m'>R</td>
<td class='m'>T</td>
<td class='m'>Y</td>
<td class='m'>U</td>
<td class='m'>I</td>
<td class='m'>O</td>
<td class='m'>P</td>
<td class='m'>Å</td>
<td class='m'>Ð</td>
<td class='m'>*</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>A</td>
<td class='m'>S</td>
<td class='m'>D</td>
<td class='m'>F</td>
<td class='m'>G</td>
<td class='m'>H</td>
<td class='m'>J</td>
<td class='m'>K</td>
<td class='m'>L</td>
<td class='m'>Æ</td>
<td class='m'>Ø</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='m'>§</td>
<td class='m'>Z</td>
<td class='m'>X</td>
<td class='m'>C</td>
<td class='m'>V</td>
<td class='m'>B</td>
<td class='m'>N</td>
<td class='m'>M</td>
<td class='m'>;</td>
<td class='m'>:</td>
<td class='m'>_</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='m'> </td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
</table><span class='modifiers'>shift+caps?</span></td>
<td class='keyboardTD'><table class='keyboard'>
<tr>
<td class='m'>&gt;</td>
<td class='m'>1</td>
<td class='m'>2</td>
<td class='m'>3</td>
<td class='m'>4</td>
<td class='m'>5</td>
<td class='m'>6</td>
<td class='m'>7</td>
<td class='m'>8</td>
<td class='m'>9</td>
<td class='m'>0</td>
<td class='m'>+</td>
<td class='h' title=' →´; a→á; A→Á; e→é; E→É; i→í; I→Í; o→ó; O→Ó; u→ú; U→Ú; y→ý; Y→Ý'>´</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>Q</td>
<td class='m'>W</td>
<td class='m'>E</td>
<td class='m'>R</td>
<td class='m'>T</td>
<td class='m'>Y</td>
<td class='m'>U</td>
<td class='m'>I</td>
<td class='m'>O</td>
<td class='m'>P</td>
<td class='m'>Å</td>
<td class='m'>Ð</td>
<td class='m'>*</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>A</td>
<td class='m'>S</td>
<td class='m'>D</td>
<td class='m'>F</td>
<td class='m'>G</td>
<td class='m'>H</td>
<td class='m'>J</td>
<td class='m'>K</td>
<td class='m'>L</td>
<td class='m'>Æ</td>
<td class='m'>Ø</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='m'>$</td>
<td class='m'>Z</td>
<td class='m'>X</td>
<td class='m'>C</td>
<td class='m'>V</td>
<td class='m'>B</td>
<td class='m'>N</td>
<td class='m'>M</td>
<td class='m'>;</td>
<td class='m'>:</td>
<td class='m'>_</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='m'> </td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
</table><span class='modifiers'>caps+cmd?</span></td>
<td class='keyboardTD'><table class='keyboard'>
<tr>
<td class='m'>≤</td>
<td class='m'>¡</td>
<td class='m'>«</td>
<td class='m'>£</td>
<td class='m'>¢</td>
<td class='m'>[</td>
<td class='m'>]</td>
<td class='m'>\</td>
<td class='m'>{</td>
<td class='m'>}</td>
<td class='m'>≠</td>
<td class='m'>±</td>
<td class='m'>ª</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>•</td>
<td class='m'>∑</td>
<td class='m'>´</td>
<td class='m'>®</td>
<td class='m'>Ý</td>
<td class='m'>¥</td>
<td class='m'>µ</td>
<td class='m'>¶</td>
<td class='m'>Ω</td>
<td class='m'>π</td>
<td class='m'>°</td>
<td class='m'>¨</td>
<td class='m'>@</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>Å</td>
<td class='m'>ß</td>
<td class='m'>∂</td>
<td class='m'>ƒ</td>
<td class='m'>©</td>
<td class='m'>^</td>
<td class='m'>∆</td>
<td class='m'>Œ</td>
<td class='m'>¬</td>
<td class='m'>Ø</td>
<td class='m'>Æ</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='m'><span class="cc">^[</span></td>
<td class='m'>§</td>
<td class='m'>≈</td>
<td class='m'>Ç</td>
<td class='m'>√</td>
<td class='m'>∫</td>
<td class='m'>~</td>
<td class='m'>”</td>
<td class='m'>∞</td>
<td class='m'>…</td>
<td class='m'>–</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='m'><span class="cc">nbsp</span></td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
</table><span class='modifiers'>optR+caps+optL?…</span></td>
<td class='keyboardTD'><table class='keyboard'>
<tr>
<td class='m'>≤</td>
<td class='m'>¡</td>
<td class='m'>“</td>
<td class='m'>§</td>
<td class='m'>£</td>
<td class='m'>∞</td>
<td class='m'>™</td>
<td class='m'>¶</td>
<td class='m'>[</td>
<td class='m'>]</td>
<td class='m'>≠</td>
<td class='m'>±</td>
<td class='m'>'</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>°</td>
<td class='m'>∑</td>
<td class='m'>É</td>
<td class='m'>®</td>
<td class='m'>™</td>
<td class='m'>¥</td>
<td class='m'>Ü</td>
<td class='m'>|</td>
<td class='m'>Œ</td>
<td class='m'>π</td>
<td class='m'>‘</td>
<td class='m'>~</td>
<td class='m'></td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>ª</td>
<td class='m'>ß</td>
<td class='m'>∂</td>
<td class='m'>ƒ</td>
<td class='m'>©</td>
<td class='m'>«</td>
<td class='m'>&lt;</td>
<td class='m'>∆</td>
<td class='m'>¬</td>
<td class='m'>Ä</td>
<td class='m'>Ö</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='m'></td>
<td class='m'>Ω</td>
<td class='m'>…</td>
<td class='m'>Ç</td>
<td class='m'>√</td>
<td class='m'>∫</td>
<td class='m'>Ñ</td>
<td class='m'>µ</td>
<td class='m'>,</td>
<td class='m'>·</td>
<td class='m'>–</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='m'><span class="cc">nbsp</span></td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
</table><span class='modifiers'>optL+caps</span></td>
<td class='keyboardTD'><table class='keyboard'>
<tr>
<td class='m'>≤</td>
<td class='m'>¡</td>
<td class='m'>“</td>
<td class='m'>§</td>
<td class='m'>£</td>
<td class='m'>∞</td>
<td class='m'>þ</td>
<td class='m'>¶</td>
<td class='m'>[</td>
<td class='m'>]</td>
<td class='m'>≠</td>
<td class='m'>±</td>
<td class='m'>'</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>°</td>
<td class='m'>∑</td>
<td class='m'>é</td>
<td class='m'>®</td>
<td class='m'>™</td>
<td class='m'>¥</td>
<td class='m'>ü</td>
<td class='m'>|</td>
<td class='m'>œ</td>
<td class='m'>π</td>
<td class='m'>‘</td>
<td class='h' title=' →~; a→ã; A→Ã; n→ñ; N→Ñ; o→õ; O→Õ; u→ù'>~</td>
<td class='m'>@</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>ª</td>
<td class='m'>ß</td>
<td class='m'>∂</td>
<td class='m'>ƒ</td>
<td class='m'>©</td>
<td class='m'>«</td>
<td class='m'>&lt;</td>
<td class='m'>∆</td>
<td class='m'>¬</td>
<td class='m'>ä</td>
<td class='h' title=' →¨; a→ä; A→Ä; e→ë; E→Ë; i→ï; I→Ï; o→ö; O→Ö; u→ü; U→Ü'>¨</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='m'></td>
<td class='m'>Ω</td>
<td class='m'>…</td>
<td class='m'>ç</td>
<td class='m'>√</td>
<td class='m'>∫</td>
<td class='m'>ñ</td>
<td class='m'>µ</td>
<td class='m'>,</td>
<td class='m'>·</td>
<td class='m'>–</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='m'><span class="cc">nbsp</span></td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
</table><span class='modifiers'>opt…</span></td>
<td class='keyboardTD'><table class='keyboard'>
<tr>
<td class='m'>≥</td>
<td class='m'>¯</td>
<td class='m'>”</td>
<td class='m'>$</td>
<td class='m'>¢</td>
<td class='m'>‰</td>
<td class='m'>Þ</td>
<td class='m'>\</td>
<td class='m'>{</td>
<td class='m'>}</td>
<td class='m'>≈</td>
<td class='m'>¿</td>
<td class='m'>|</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>•</td>
<td class='m'>·</td>
<td class='m'>É</td>
<td class='m'>Â</td>
<td class='m'>Ÿ</td>
<td class='m'>Ÿ</td>
<td class='m'>Ü</td>
<td class='m'>ı</td>
<td class='m'>Œ</td>
<td class='m'>∏</td>
<td class='m'>’</td>
<td class='h' title=' →^; a→â; A→Â; e→ê; E→Ê; i→î; I→Î; o→ô; O→Ô; u→û; U→Û'>^</td>
<td class='m'>º</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>Ê</td>
<td class='m'>˘</td>
<td class='m'>ˇ</td>
<td class='m'>Ä</td>
<td class='m'>Á</td>
<td class='m'>»</td>
<td class='m'>&gt;</td>
<td class='m'>˜</td>
<td class='m'>Ë</td>
<td class='m'>Ä</td>
<td class='m'>Ö</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='m'>'</td>
<td class='m'>¸</td>
<td class='m'>˙</td>
<td class='m'>Ç</td>
<td class='m'>◊</td>
<td class='m'>Ë</td>
<td class='m'>Ñ</td>
<td class='m'>˛</td>
<td class='m'>„</td>
<td class='m'>÷</td>
<td class='m'>—</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='m'><span class="cc">nbsp</span></td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
</table><span class='modifiers'>opt+shift+cmd?+caps?</span></td>
<td class='keyboardTD'><table class='keyboard'>
<tr>
<td class='m'>`</td>
<td class='m'>1</td>
<td class='m'>2</td>
<td class='m'>3</td>
<td class='m'>4</td>
<td class='m'>5</td>
<td class='m'>6</td>
<td class='m'>7</td>
<td class='m'>8</td>
<td class='m'>9</td>
<td class='m'>0</td>
<td class='m'><span class="cc">^_</span></td>
<td class='m'>+</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'><span class="cc">^Q</span></td>
<td class='m'><span class="cc">^W</span></td>
<td class='m'><span class="cc">^E</span></td>
<td class='m'><span class="cc">^R</span></td>
<td class='m'><span class="cc">^T</span></td>
<td class='m'><span class="cc">^Y</span></td>
<td class='m'><span class="cc">^U</span></td>
<td class='m'><span class="cc">^I</span></td>
<td class='m'><span class="cc">^O</span></td>
<td class='m'><span class="cc">^P</span></td>
<td class='m'><span class="cc">^[</span></td>
<td class='m'><span class="cc">^]</span></td>
<td class='m'><span class="cc">^\</span></td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'><span class="cc">^A</span></td>
<td class='m'><span class="cc">^S</span></td>
<td class='m'><span class="cc">^D</span></td>
<td class='m'><span class="cc">^F</span></td>
<td class='m'><span class="cc">^G</span></td>
<td class='m'><span class="cc">^H</span></td>
<td class='m'><span class="cc">^J</span></td>
<td class='m'><span class="cc">^K</span></td>
<td class='m'><span class="cc">^L</span></td>
<td class='m'>:</td>
<td class='m'>&quot;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='m'>0</td>
<td class='m'><span class="cc">^Z</span></td>
<td class='m'><span class="cc">^X</span></td>
<td class='m'><span class="cc">^C</span></td>
<td class='m'><span class="cc">^V</span></td>
<td class='m'><span class="cc">^B</span></td>
<td class='m'><span class="cc">^N</span></td>
<td class='m'><span class="cc">^M</span></td>
<td class='m'>,</td>
<td class='m'>.</td>
<td class='m'>/</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='m'> </td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
</table><span class='modifiers'>ctrl+opt?+caps?+shif…</span></td>
<td class='keyboardTD'><table class='keyboard'>
<tr>
<td class='m'>≤</td>
<td class='m'>¡</td>
<td class='m'>«</td>
<td class='m'>£</td>
<td class='m'>¢</td>
<td class='m'>∞</td>
<td class='m'>§</td>
<td class='m'>|</td>
<td class='m'>[</td>
<td class='m'>]</td>
<td class='m'>≠</td>
<td class='m'>ø</td>
<td class='m'>–</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>¶</td>
<td class='m'>∑</td>
<td class='m'>™</td>
<td class='m'>®</td>
<td class='m'>™</td>
<td class='m'>¥</td>
<td class='m'>¨</td>
<td class='m'>^</td>
<td class='m'>°</td>
<td class='m'>π</td>
<td class='m'>@</td>
<td class='m'>`</td>
<td class='m'>±</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>å</td>
<td class='m'>ß</td>
<td class='m'>∂</td>
<td class='m'>ƒ</td>
<td class='m'>©</td>
<td class='m'>ª</td>
<td class='m'>º</td>
<td class='m'>∆</td>
<td class='m'>¬</td>
<td class='m'>œ</td>
<td class='m'>´</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>Ω</td>
<td class='m'>≈</td>
<td class='m'>ç</td>
<td class='m'>√</td>
<td class='m'>∫</td>
<td class='m'>~</td>
<td class='m'>µ</td>
<td class='m'>¿</td>
<td class='m'>…</td>
<td class='m'>•</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='m'><span class="cc">nbsp</span></td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
</table><span class='modifiers'>cmd+optR+optL?</span></td>
</tr></table>
<h2><a name='fo-t-k0-windows' href='#fo-t-k0-windows'>fo-t-k0-windows</a> [Faeroese]</h2>
<table class='keyboards'><tr>
<td class='keyboardTD'><table class='keyboard'>
<tr>
<td class='m'>½</td>
<td class='m'>1</td>
<td class='m'>2</td>
<td class='m'>3</td>
<td class='m'>4</td>
<td class='m'>5</td>
<td class='m'>6</td>
<td class='m'>7</td>
<td class='m'>8</td>
<td class='m'>9</td>
<td class='m'>0</td>
<td class='m'>+</td>
<td class='h' title=' →´; a→á; A→Á; e→é; E→É; i→í; I→Í; o→ó; O→Ó; u→ú; U→Ú; y→ý; Y→Ý'>´</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>q</td>
<td class='m'>w</td>
<td class='m'>e</td>
<td class='m'>r</td>
<td class='m'>t</td>
<td class='m'>y</td>
<td class='m'>u</td>
<td class='m'>i</td>
<td class='m'>o</td>
<td class='m'>p</td>
<td class='m'>å</td>
<td class='m'>ð</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>a</td>
<td class='m'>s</td>
<td class='m'>d</td>
<td class='m'>f</td>
<td class='m'>g</td>
<td class='m'>h</td>
<td class='m'>j</td>
<td class='m'>k</td>
<td class='m'>l</td>
<td class='m'>æ</td>
<td class='m'>ø</td>
<td class='m'>'</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='m'>&lt;</td>
<td class='m'>z</td>
<td class='m'>x</td>
<td class='m'>c</td>
<td class='m'>v</td>
<td class='m'>b</td>
<td class='m'>n</td>
<td class='m'>m</td>
<td class='m'>,</td>
<td class='m'>.</td>
<td class='m'>-</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='m'> </td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
</table><span class='modifiers'> </span></td>
<td class='keyboardTD'><table class='keyboard'>
<tr>
<td class='m'>§</td>
<td class='m'>!</td>
<td class='m'>&quot;</td>
<td class='m'>#</td>
<td class='m'>¤</td>
<td class='m'>%</td>
<td class='m'>&amp;</td>
<td class='m'>/</td>
<td class='m'>(</td>
<td class='m'>)</td>
<td class='m'>=</td>
<td class='m'>?</td>
<td class='h' title=' →`; a→à; A→À; e→è; E→È; i→ì; I→Ì; o→ò; O→Ò; u→ù; U→Ù'>`</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>Q</td>
<td class='m'>W</td>
<td class='m'>E</td>
<td class='m'>R</td>
<td class='m'>T</td>
<td class='m'>Y</td>
<td class='m'>U</td>
<td class='m'>I</td>
<td class='m'>O</td>
<td class='m'>P</td>
<td class='m'>Å</td>
<td class='m'>Ð</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>A</td>
<td class='m'>S</td>
<td class='m'>D</td>
<td class='m'>F</td>
<td class='m'>G</td>
<td class='m'>H</td>
<td class='m'>J</td>
<td class='m'>K</td>
<td class='m'>L</td>
<td class='m'>Æ</td>
<td class='m'>Ø</td>
<td class='m'>*</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='m'>&gt;</td>
<td class='m'>Z</td>
<td class='m'>X</td>
<td class='m'>C</td>
<td class='m'>V</td>
<td class='m'>B</td>
<td class='m'>N</td>
<td class='m'>M</td>
<td class='m'>;</td>
<td class='m'>:</td>
<td class='m'>_</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='m'> </td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
</table><span class='modifiers'>shift</span></td>
<td class='keyboardTD'><table class='keyboard'>
<tr>
<td class='m'>½</td>
<td class='m'>1</td>
<td class='m'>2</td>
<td class='m'>3</td>
<td class='m'>4</td>
<td class='m'>5</td>
<td class='m'>6</td>
<td class='m'>7</td>
<td class='m'>8</td>
<td class='m'>9</td>
<td class='m'>0</td>
<td class='m'>+</td>
<td class='h' title=' →´; a→á; A→Á; e→é; E→É; i→í; I→Í; o→ó; O→Ó; u→ú; U→Ú; y→ý; Y→Ý'>´</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>Q</td>
<td class='m'>W</td>
<td class='m'>E</td>
<td class='m'>R</td>
<td class='m'>T</td>
<td class='m'>Y</td>
<td class='m'>U</td>
<td class='m'>I</td>
<td class='m'>O</td>
<td class='m'>P</td>
<td class='m'>Å</td>
<td class='m'>Ð</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>A</td>
<td class='m'>S</td>
<td class='m'>D</td>
<td class='m'>F</td>
<td class='m'>G</td>
<td class='m'>H</td>
<td class='m'>J</td>
<td class='m'>K</td>
<td class='m'>L</td>
<td class='m'>Æ</td>
<td class='m'>Ø</td>
<td class='m'>'</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='m'>&lt;</td>
<td class='m'>Z</td>
<td class='m'>X</td>
<td class='m'>C</td>
<td class='m'>V</td>
<td class='m'>B</td>
<td class='m'>N</td>
<td class='m'>M</td>
<td class='m'>,</td>
<td class='m'>.</td>
<td class='m'>-</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='m'> </td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
</table><span class='modifiers'>caps</span></td>
<td class='keyboardTD'><table class='keyboard'>
<tr>
<td class='m'>§</td>
<td class='m'>!</td>
<td class='m'>&quot;</td>
<td class='m'>#</td>
<td class='m'>¤</td>
<td class='m'>%</td>
<td class='m'>&amp;</td>
<td class='m'>/</td>
<td class='m'>(</td>
<td class='m'>)</td>
<td class='m'>=</td>
<td class='m'>?</td>
<td class='h' title=' →`; a→à; A→À; e→è; E→È; i→ì; I→Ì; o→ò; O→Ò; u→ù; U→Ù'>`</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>q</td>
<td class='m'>w</td>
<td class='m'>e</td>
<td class='m'>r</td>
<td class='m'>t</td>
<td class='m'>y</td>
<td class='m'>u</td>
<td class='m'>i</td>
<td class='m'>o</td>
<td class='m'>p</td>
<td class='m'>å</td>
<td class='m'>ð</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='m'>a</td>
<td class='m'>s</td>
<td class='m'>d</td>
<td class='m'>f</td>
<td class='m'>g</td>
<td class='m'>h</td>
<td class='m'>j</td>
<td class='m'>k</td>
<td class='m'>l</td>
<td class='m'>æ</td>
<td class='m'>ø</td>
<td class='m'>*</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='m'>&gt;</td>
<td class='m'>z</td>
<td class='m'>x</td>
<td class='m'>c</td>
<td class='m'>v</td>
<td class='m'>b</td>
<td class='m'>n</td>
<td class='m'>m</td>
<td class='m'>;</td>
<td class='m'>:</td>
<td class='m'>_</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='m'> </td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
</table><span class='modifiers'>caps+shift</span></td>
<td class='keyboardTD'><table class='keyboard'>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='m'>@</td>
<td class='m'>£</td>
<td class='m'>$</td>
<td class='m'>€</td>
<td class='x'>&nbsp;</td>
<td class='m'>{</td>
<td class='m'>[</td>
<td class='m'>]</td>
<td class='m'>}</td>
<td class='x'>&nbsp;</td>
<td class='m'>|</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='m'>€</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='h' title=' →¨; a→ä; A→Ä; e→ë; E→Ë; i→ï; I→Ï; o→ö; O→Ö; u→ü; U→Ü; y→ÿ'>¨</td>
<td class='h' title=' →~; a→ã; A→Ã; n→ñ; N→Ñ; o→õ; O→Õ'>~</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='h' title=' →^; a→â; A→Â; e→ê; E→Ê; i→î; I→Î; o→ô; O→Ô; u→û; U→Û'>^</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='m'>\</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='m'>µ</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
</table><span class='modifiers'>altR+caps?…</span></td>
<td class='keyboardTD'><table class='keyboard'>
<tr>
<td class='m'><span class="cc">^\</span></td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='m'><span class="cc">^[</span></td>
<td class='m'><span class="cc">^]</span></td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='m'><span class="cc">^\</span></td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
<tr>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='m'> </td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
<td class='x'>&nbsp;</td>
</tr>
</table><span class='modifiers'>ctrl+caps?</span></td>
</tr></table>
